<div fxLayout="column" class="page-main" fxLayoutAlign="center center">
  <div class="order-list-wrapper">
    <p>order-list works!</p>
    <div *ngIf="isLoading" class="progress-spinner" fxLayoutAlign="center center">
      <mat-spinner diameter="50"></mat-spinner>
    </div>   

    <div class="order-data-view">
      <table mat-table [dataSource]="ordersDataSource" *ngIf="!isLoading" class="mat-elevation-z8">
        <ng-container matColumnDef="licensePlate">
          <th mat-header-cell *matHeaderCellDef>License Plate</th>
          <td mat-cell *matCellDef="let element">{{ element.car.licensePlate }}</td>
        </ng-container>

        <ng-container matColumnDef="pinCode">
          <th mat-header-cell *matHeaderCellDef>Pin Code</th>
          <td mat-cell *matCellDef="let element">{{ element.pinkCode }}</td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.status == 2" style="width: 59px;">{{secondFormatStr(getSecondsIntervalBetweenStartAndNow(element.id))}}</div>
            <div *ngIf="element.status == 3">{{ element.total | currency:'DKK':'symbol-narrow' }}</div>
          </td>          
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <!--{{ element.status }}-->
            <!--0: Standby; 1: Waiting to open; 2: Driving; 3: Finish-->
            <div *ngIf="element.status == 0">Standby</div>
            <div *ngIf="element.status == 1">Waiting</div>
            <div *ngIf="element.status == 2">Driving</div>
            <div *ngIf="element.status == 3">Finish</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="management">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <!--(click)="reply(row)"-->
            <button mat-button color="primary" (click)="openDialog(row)" *ngIf="row.status == 2">Låse</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['licensePlate', 'pinCode', 'total', 'status', 'management']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['licensePlate', 'pinCode', 'total', 'status', 'management']"></tr>
      </table>
    </div>

  </div>
</div>
