<!-- Toolbar -->
<h1>hello angular material</h1>
<button mat-button>Hello World！</button>

<button mat-raised-button color="primary">Hello World！</button>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
  <div fxHide.lt-md="True">item 1</div>
  <div>item 2</div>
  <div>item 3</div>
  <div>item 4</div>
</div>

<button class="menu-btn" (click)="createMenu()" #createMenuBtn>
  Create
</button>
<ng-template #menuTpl cdk-portal style="background-color: gainsboro">
  <form>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email">
      <input matInput type="email" placeholder="Email">
    </mat-form-field>
  </form>
  <ul class="menu">
    <li>menu1</li>
    <li>menu2</li>
    <li>menu3</li>
  </ul>
</ng-template>

<div fxLayout="row">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div>abcd</div>
  </mat-menu>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div><span>Third Line 1</span></div>
  <div><span>Third Line 2</span></div>
  <div><span>Third Line 3</span></div>
</div>
<!--test menu-->



<header fxLayout="row">
  <nav fxFlex="100%">
    <mat-toolbar color="primary" role="heading" fxLayoutAlign="center center">
      <mat-toolbar-row class="tool-bar" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img src="../assets/logo.png" style="width: 198px; height: 42px" [ngStyle.xs]="{'width': '120px', 'height': '28px'}" />
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <span class="clean-spacer"></span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <!--login button-->
          <button mat-icon-button aria-label="Login" matTooltip="Login">
            <mat-icon (click)="createLoginMenu()">person</mat-icon>
            <div #loginMenuBtn></div>
          </button>
          <ng-template #loginMenuTpl cdk-portal>
            <div class="login-dropdown-wrapper" fxLayoutAlign="center center">
              <div class="login-dropdown-inner" fxLayout="column" fxLayoutGap="10%">
                <!--title-->
                <div class="login-dropdown-title">
                  <h3>Log ind</h3>
                </div>
                <!--form-->
                <form fxLayout="column">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Adgangskode">
                  </mat-form-field>
                  <button mat-raised-button color="primary">LOG IN</button>
                </form>

                <div class="login-dropdown-link">
                  <!--forgot password-->
                  <div class="link link-arrow">
                    <a mat-button routerLink=".">
                      <span>Glemt din adgangskode?</span>
                    </a>
                  </div>
                  <!--create profil-->
                  <div class="link link-arrow">
                    <a mat-button routerLink=".">
                      <span>Ikke kunde endnu? Tilmeld dig her.</span>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </ng-template>
          <!--add profil button-->
          <button mat-icon-button aria-label="Add profil" matTooltip="Add Profil" fxHide.lt-sm="true">
            <mat-icon>person_add</mat-icon>
          </button>
          <!--menu button-->
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" matTooltip="Menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>Login</span>
            </button>
            <button mat-menu-item>
              <mat-icon>person_add</mat-icon>
              <span>Tilmeld dig nu</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</header>

<div fxLayout="column" class="page-main" fxLayoutAlign="center center">
  <div class="home-banner-wrapper" fxLayout="row">
    <div class="inner" fxLayout="row" fxLayoutGap="15%" fxLayoutAlign="space-around center">
      <div class="left">
        <img src="../assets/part5.png" [ngStyle.lt-md]="{'width': '98%'}">
      </div>
      <div class="right button-wrapper" fxHide.lt-md="true">
        <button mat-raised-button color="primary" class="btn-registration">
          Tilmeld dig nu
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" class="home-car-box-1">
    <div class="box-1-title">
      <h2>Sådan reserverer du en CarToGo</h2>
    </div>
    <div class="box-1-image" fxLayout="row warp" fxLayoutAlign="center center">
      <div class="stepbox step1" [ngStyle.lt-lg]="{'margin-left': '150px'}" [ngStyle.lt-md]="{'margin-left': '47px'}" [ngStyle.lt-sm]="{'margin-left': '0px'}"><p>Find bilen</p></div>
      <div class="stepbox step2" [ngStyle.lt-lg]="{'margin-left': '150px'}" [ngStyle.lt-md]="{'margin-left': '47px'}" [ngStyle.lt-sm]="{'margin-left': '0px'}"><p>Reserver bilen</p></div>
      <div class="stepbox step3" [ngStyle.lt-lg]="{'margin-left': '150px'}" [ngStyle.lt-md]="{'margin-left': '47px'}" [ngStyle.lt-sm]="{'margin-left': '0px'}"><p>Klar til at køre</p></div>
      <div class="stepbox step4" [ngStyle.lt-lg]="{'margin-left': '150px'}" [ngStyle.lt-md]="{'margin-left': '47px'}" [ngStyle.lt-sm]="{'margin-left': '0px'}"><p>Lås og betaler bilen</p></div>
    </div>
  </div>
  <section class="top-shape-wrapper">
    <div class="top-shape">
    </div>
  </section>
  <div fxLayout="column" fxLayoutAlign="center center" class="home-car-box-2" fxHide.lt-sm="true">
    <h4>Hvor grønne er elbiler i virkeligheden?</h4>
    <div class="save-money" [ngStyle.lt-md]="{'width': '100%'}">
      <img src="../assets/building.png" alt="" class="save-money-pic">
      <div class="cash-center">
        <p>København -- Odense</p>
        <p>169 km, 1.53t.</p>
      </div>
      <div class="cash-cont">
        <div class="cash-cont-left clearfix">
          <div class="start-point">Fra</div>
          <p>Kør med elbil udleder <span>0</span> gram CO2 </p>
        </div>
        <div class="cash-cont-right clearfix">
          <div class="end-poing" [ngStyle.lt-md]="{'margin-left': '203px'}">Til</div>
          <p [ngStyle.lt-md]="{'margin-left': '103px'}">Kør med benzinbil udleder <span>5664</span> gram CO2 </p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" class="footer-list">
      <span _ngcontent-sii-c497="">Powered by CarToGo ©2010-2019.</span>
      <span>Documentation licensed under CC BY 4.0.</span>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>
