<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- Toolbar -->
<h1>hello angular material</h1>
<button mat-button>Hello World！</button>

<button mat-raised-button color="primary">Hello World！</button>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
  <div fxHide.lt-md="True">item 1</div>
  <div>item 2</div>
  <div>item 3</div>
  <div>item 4</div>
</div>

<button class="menu-btn" (click)="createMenu()" #createMenuBtn>
  Create
</button>
<ng-template #menuTpl cdk-portal style="background-color: gainsboro">
  <form>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email">
      <input matInput type="email" placeholder="Email">
    </mat-form-field>
  </form>
  <ul class="menu">
    <li>menu1</li>
    <li>menu2</li>
    <li>menu3</li>
  </ul>
</ng-template>

<div fxLayout="row">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div>abcd</div>
  </mat-menu>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div><span>Third Line 1</span></div>
  <div><span>Third Line 2</span></div>
  <div><span>Third Line 3</span></div>
</div>
<!--test menu-->
