@import "../../assets/variables.less";

.page-main {
  width: 100%;
  .reserve-car-wrapper {
    max-width: @wrapperMaxWidth;
    width: 95%;
  }
}

#map {
  height: 500px;
  width: 100%;
}

.car-reserved {
  font-family: Roboto,"Helvetica Neue",sans-serif;

  h3 {
    text-align: center;
    color: #9FA8DA;

    &:before {
      color: #9FA8DA;
      content: "";
      border: 1px #9FA8DA solid;
      width: 30px;
      display: inline-block;
      position: relative;
      top: -5px;
      left: -15px;
    }

    &:after {
      color: #9FA8DA;
      content: "";
      border: 1px #9FA8DA solid;
      width: 30px;
      display: inline-block;
      position: relative;
      top: -5px;
      left: 15px;
    }
  }

  p {
    text-align: center;
    letter-spacing: 7px;
    font-size: 26px;
    font-weight: bold;
  }

  .pin-code {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 30px;
    letter-spacing: 13px;
  }
}
