@import "../../assets/variables.less";

.page-main {
  width: 100%;

  .help-list-wrapper {
    max-width: @wrapperMaxWidth;
    width: 95%;
    min-height: 515px;

    .help-title {
      height: 32px;
      cursor: pointer;
      &:hover {
        background-color: #ECEFF1;
      }
    }
  }
}

